$DARK_PRIMARY_COLOR: #1976d2;
$LIGHT_PRIMARY_COLOR: #bbdefb;
$PRIMARY_COLOR: #2196f3;
$TEXT_COLOR: #ffffff;
$ACCENT_COLOR: #009688;
$PRIMARY_TEXT: #212121;
$SECONDARY_TEXT: #757575;
$DIVIDER_COLOR: #bdbdbd;
